@use '../../../../app/style/vars';
@use '../../../../app/style/Mixin' as mixin;

.step{

  .h1-state{
    font-size: .1rem;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .add-btn{
    @include mixin.button;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  input{
    @include mixin.input;

  }
}