$color-white: #FFFFFF;
$color-black: #111111;
$color-light-gray: #6C6C6C;
$color-lighter-gray: #CFCFCF;
$color-darker-white-D9D9D9: #D9D9D9;


$m-input-lighter-gray-color: #DCE3EB;
$m-input-darkness-gray-color: #6C6C6C;
$color-blue: #9605CA;
$color-blue-2: #4444FF;
$color-dark-dark: #252525;